# Movies Dataset cleaning & EDA

In [1]:
# importing our necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('mode.chained_assignment', None)

In [2]:
# creating our data frame
movie_df = pd.read_csv('../movies_archive/movies.csv', index_col= 'id')

In [3]:
#exploration of first 3 rows of dataframe
movie_df.head(3)

,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations
id,,,,,,,,,,,,,,,,,,,
615656,Meg 2: The Trench,Action-Science Fiction-Horror,en,An exploratory dive into the deepest depths of...,8763.998,Apelles Entertainment-Warner Bros. Pictures-di...,2023-08-02,129000000.0,352056482.0,116.0,Released,Back for seconds.,7.079,1365.0,Jason Statham-Wu Jing-Shuya Sophia Cai-Sergio ...,based on novel or book-sequel-kaiju,/4m1Au3YkjqsxF8iwQy0fPYSxE0h.jpg,/qlxy8yo5bcgUw2KAmmojUKp4rHd.jpg,1006462-298618-569094-1061181-346698-1076487-6...
758323,The Pope's Exorcist,Horror-Mystery-Thriller,en,Father Gabriele Amorth Chief Exorcist of the V...,5953.227,Screen Gems-2.0 Entertainment-Jesus & Mary-Wor...,2023-04-05,18000000.0,65675816.0,103.0,Released,Inspired by the actual files of Father Gabriel...,7.433,545.0,Russell Crowe-Daniel Zovatto-Alex Essoe-Franco...,spain-rome italy-vatican-pope-pig-possession-c...,/9JBEPLTPSm0d1mbEcLxULjJq9Eh.jpg,/hiHGRbyTcbZoLsYYkO4QiCLYe34.jpg,713704-296271-502356-1076605-1084225-1008005-9...
667538,Transformers: Rise of the Beasts,Action-Adventure-Science Fiction,en,When a new threat capable of destroying the en...,5409.104,Skydance-Paramount-di Bonaventura Pictures-Bay...,2023-06-06,200000000.0,407045464.0,127.0,Released,Unite or fall.,7.340,1007.0,Anthony Ramos-Dominique Fishback-Luna Lauren V...,peru-alien-end of the world-based on cartoon-b...,/gPbM0MK8CP8A174rmUwGsADNYKD.jpg,/woJbg7ZqidhpvqFGGMRhWQNoxwa.jpg,496450-569094-298618-385687-877100-598331-4628...

In [4]:
# exploration of our columns data
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 722625 entries, 615656 to 968161
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   title                 722619 non-null  object
 1   genres                511961 non-null  object
 2   original_language     722625 non-null  object
 3   overview              604160 non-null  object
 4   popularity            722625 non-null  float64
 5   production_companies  337227 non-null  object
 6   release_date          670584 non-null  object
 7   budget                722625 non-null  float64
 8   revenue               722625 non-null  float64
 9   runtime               688215 non-null  float64
 10  status                722625 non-null  object
 11  tagline               108252 non-null  object
 12  vote_average          722625 non-null  float64
 13  vote_count            722625 non-null  float64
 14  credits               497662 non-null  object
 15  keywords              210413 non-null  object
 16  poster_path           537702 non-null  object
 17  backdrop_path         222790 non-null  object
 18  recommendations       34778 non-null   object
dtypes: float64(6), object(13)
memory usage: 110.3+ MB

Over 700k titles! many columns have empty rows or not properly formatted, there's quite filtering & cleaning up to do before exporting a usable dataset for Power BI

In [4]:
#convert release_date to date format

movie_df['release_date'] = pd.to_datetime(movie_df['release_date'])

In [6]:
# let's explore the release date columns
print(movie_df['release_date'].min())
print(movie_df['release_date'].max())

1874-12-09 00:00:00
2049-01-01 00:00:00

In [5]:
movie_df_backup = movie_df.copy()

In [7]:
first_date = pd.to_datetime('2023-10-01')
end_date = pd.to_datetime('2023-12-23')
movie_recent = movie_df_backup[(movie_df_backup['release_date'] >= first_date) & (movie_df_backup['release_date'] <= end_date)]

### for the sake of our analysis we will limit our dataset to movies released between Jan 1st 1970 to Oct 31st 2023

In [8]:
first_date = pd.to_datetime('1970-01-01')
end_date = pd.to_datetime('2023-10-31')

movie_df = movie_df[(movie_df['release_date'] >= first_date) & (movie_df['release_date'] <= end_date)]
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 560178 entries, 615656 to 706500
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   title                 560176 non-null  object
 1   genres                411385 non-null  object
 2   original_language     560178 non-null  object
 3   overview              475808 non-null  object
 4   popularity            560178 non-null  float64
 5   production_companies  258564 non-null  object
 6   release_date          560178 non-null  datetime64[ns]
 7   budget                560178 non-null  float64
 8   revenue               560178 non-null  float64
 9   runtime               537606 non-null  float64
 10  status                560178 non-null  object
 11  tagline               86910 non-null   object
 12  vote_average          560178 non-null  float64
 13  vote_count            560178 non-null  float64
 14  credits               395552 non-null  object
 15  keywords              169895 non-null  object
 16  poster_path           439275 non-null  object
 17  backdrop_path         185677 non-null  object
 18  recommendations       31706 non-null   object
dtypes: datetime64[ns](1), float64(6), object(12)
memory usage: 85.5+ MB

### Explore column with null values

In [10]:
movie_df.nunique()

title                   445847
genres                    9927
original_language          162
overview                423217
popularity               19917
production_companies    129358
release_date             19542
budget                    3670
revenue                  12457
runtime                    612
status                       6
tagline                  75772
vote_average              3095
vote_count                3456
credits                 334248
keywords                 96334
poster_path             391452
backdrop_path           162186
recommendations          28058
dtype: int64

In [11]:
movie_df['status'].value_counts()

status
Released           560069
In Production          66
Post Production        23
Planned                13
Canceled                5
Rumored                 2
Name: count, dtype: int64

In [12]:
movie_df['budget'].describe()

count    5.601780e+05
mean     4.835579e+05
std      6.167951e+06
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      5.400000e+08
Name: budget, dtype: float64

In [9]:
# this dataset will be used for our recommendation page, the financial aspect is not of importance.
movie_df_rec = movie_df_backup[(movie_df_backup['vote_count'] >= 25) & (movie_df_backup['status'] == 'Released')]

In [14]:
# some movies in the dataset have no budget but substantial revenue, the budget might be available directly from TMDB so we'll use the API to enrich this data frame
movie_missing_budget = movie_df[(movie_df['budget'] == 0) & (movie_df['status'] == 'Released')&(movie_df['revenue'] > 5000000) ]
movie_missing_budget.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1464 entries, 676547 to 546299
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 1464 non-null   object
 1   genres                1450 non-null   object
 2   original_language     1464 non-null   object
 3   overview              1446 non-null   object
 4   popularity            1464 non-null   float64
 5   production_companies  1389 non-null   object
 6   release_date          1464 non-null   datetime64[ns]
 7   budget                1464 non-null   float64
 8   revenue               1464 non-null   float64
 9   runtime               1463 non-null   float64
 10  status                1464 non-null   object
 11  tagline               923 non-null    object
 12  vote_average          1464 non-null   float64
 13  vote_count            1464 non-null   float64
 14  credits               1457 non-null   object
 15  keywords              1220 non-null   object
 16  poster_path           1460 non-null   object
 17  backdrop_path         1418 non-null   object
 18  recommendations       979 non-null    object
dtypes: datetime64[ns](1), float64(6), object(12)
memory usage: 228.8+ KB

for the sake of our analysis on financial performance we will keep only movies with released as status and with a minimum budget of 5000 USD since more than 75% of movies within the dataset appear to have no value for the budget

In [15]:
#applying filters
movie_df = movie_df[(movie_df['budget'] >= 5000) & (movie_df['status'] == 'Released')]
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24037 entries, 615656 to 555347
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 24037 non-null  object
 1   genres                23059 non-null  object
 2   original_language     24037 non-null  object
 3   overview              23440 non-null  object
 4   popularity            24037 non-null  float64
 5   production_companies  19493 non-null  object
 6   release_date          24037 non-null  datetime64[ns]
 7   budget                24037 non-null  float64
 8   revenue               24037 non-null  float64
 9   runtime               23874 non-null  float64
 10  status                24037 non-null  object
 11  tagline               13788 non-null  object
 12  vote_average          24037 non-null  float64
 13  vote_count            24037 non-null  float64
 14  credits               22975 non-null  object
 15  keywords              16374 non-null  object
 16  poster_path           22422 non-null  object
 17  backdrop_path         16515 non-null  object
 18  recommendations       8995 non-null   object
dtypes: datetime64[ns](1), float64(6), object(12)
memory usage: 3.7+ MB

Doing so has cleaned up a large part of our dataset from over 500k rows to 24k, now let's further explore our data.

In [16]:
movie_df.nunique()

title                   21075
genres                   2800
original_language         101
overview                21289
popularity              11666
production_companies    15434
release_date             8918
budget                   2971
revenue                  7756
runtime                   245
status                      1
tagline                 12777
vote_average             1954
vote_count               3310
credits                 20871
keywords                14061
poster_path             20398
backdrop_path           15335
recommendations          8783
dtype: int64

In [17]:
# removing unwanted columns
movie_df = movie_df.drop(['status'], axis=1)

In [18]:
# removing duplicates
movie_df.drop_duplicates(subset=['title', 'release_date'], keep='first', inplace=True)

In [19]:
movie_df.isnull().sum()

title                       0
genres                    866
original_language           0
overview                  536
popularity                  0
production_companies     3969
release_date                0
budget                      0
revenue                     0
runtime                   138
tagline                  8984
vote_average                0
vote_count                  0
credits                   954
keywords                 6635
poster_path              1438
backdrop_path            6499
recommendations         13010
dtype: int64

In [20]:
# dealing with null values
movie_df = movie_df.fillna(value={'genres':'Missing'})
movie_df['genres'].value_counts()

genres
Drama                                                        2182
Comedy                                                       1334
Documentary                                                  1326
Horror                                                        947
Missing                                                       866
                                                             ...
Animation-Comedy-Drama-Family-Adventure                         1
Thriller-Adventure-Mystery-Fantasy-Horror-Science Fiction       1
Animation-Adventure-Mystery                                     1
War-Comedy-Drama                                                1
Drama-Comedy-Romance-Mystery                                    1
Name: count, Length: 2801, dtype: int64

In [21]:
# we let go of records with missing runtime 
movie_df = movie_df.dropna(subset= ['runtime'])
# add missing to production companies
movie_df = movie_df.fillna(value={'production_companies':'Missing'})
movie_df['production_companies'].value_counts()

production_companies
Missing                                                                                                                                                                   3924
Paramount                                                                                                                                                                   83
Universal Pictures                                                                                                                                                          54
Columbia Pictures                                                                                                                                                           54
20th Century Fox                                                                                                                                                            44
                                                                                                                                                                          ...
Ingenious Media-Gran Via Productions-IM Global-STX Entertainment-Route One Entertainment-Union Investment Partners-SITE Productions-Willie's Movies-Universal Pictures       1
21st Century Film Corporation-Death Wish 5 Productions                                                                                                                       1
Lamb Bear Entertainment-Davis-Panzer Productions-Interstar-Harat Investments                                                                                                 1
TriStar Pictures-Phoenix Pictures                                                                                                                                            1
Shoot The J Productions                                                                                                                                                      1
Name: count, Length: 15358, dtype: int64

In [22]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21698 entries, 615656 to 555347
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 21698 non-null  object
 1   genres                21698 non-null  object
 2   original_language     21698 non-null  object
 3   overview              21221 non-null  object
 4   popularity            21698 non-null  float64
 5   production_companies  21698 non-null  object
 6   release_date          21698 non-null  datetime64[ns]
 7   budget                21698 non-null  float64
 8   revenue               21698 non-null  float64
 9   runtime               21698 non-null  float64
 10  tagline               12833 non-null  object
 11  vote_average          21698 non-null  float64
 12  vote_count            21698 non-null  float64
 13  credits               20766 non-null  object
 14  keywords              15155 non-null  object
 15  poster_path           20299 non-null  object
 16  backdrop_path         15308 non-null  object
 17  recommendations       8826 non-null   object
dtypes: datetime64[ns](1), float64(6), object(11)
memory usage: 3.1+ MB

In [10]:
def compute_decade(date):
    year = date.year
    decade_start = (year // 10) * 10
    return f"{decade_start}'s"

# Apply the function to create the 'decade' column
movie_df['decade'] = movie_df['release_date'].apply(compute_decade)
movie_df.sample(3)

,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations,decade
id,,,,,,,,,,,,,,,,,,,,
943310,Michèle Torr - Olympia,Music,fr,NaN,0.600,NaN,2003-01-01,0.0,0.0,0.0,Released,NaN,0.0,0.0,NaN,NaN,/are3eLQsoCBG4ULfqus5gDkdqK4.jpg,NaN,NaN,2000's
312797,The Barber,Thriller,en,Eugene is a small town barber beloved by the l...,5.694,Chapman Filmed Entertainment,2015-03-27,0.0,0.0,95.0,Released,NaN,5.8,73.0,Scott Glenn-Stephen Tobolowsky-Kristen Hager-C...,obsession-barber,/oYODFbMfqsT5qvH440bN3wXL86n.jpg,/eXbW3o8lTme4daeevDeTRKUPDRR.jpg,286521-287424-308504-210860-118612-276908-2382...,2010's
507362,Working With Weinstein,Documentary-TV Movie,en,Documentary exploring the harassment charges a...,1.238,Channel 4 Television-Tigerlily Films,2018-02-20,0.0,0.0,49.0,Released,NaN,7.0,4.0,Stephen Woolley-Zelda Perkins-Susan Slonaker-D...,sexual abuse-movie business-sexual harassment-...,NaN,/AkIJJ4zkVvUdKcqNsJF3Z9RBv1w.jpg,NaN,2010's

In [24]:
movie_missing_budget.drop_duplicates(subset=['title', 'release_date'], keep='first', inplace=True)
movie_missing_budget = movie_missing_budget.fillna(value={'genres':'Missing'})
movie_missing_budget = movie_missing_budget.dropna(subset= ['runtime'])
movie_missing_budget = movie_missing_budget.drop(['status'], axis=1)
movie_missing_budget['decade'] = movie_missing_budget['release_date'].apply(compute_decade)

In [11]:
movie_df_rec.drop_duplicates(subset=['title', 'release_date'], keep='first', inplace=True)
movie_df_rec = movie_df_rec.fillna(value={'genres':'Missing'})
movie_df_rec = movie_df_rec.dropna(subset= ['runtime'])
movie_df_rec = movie_df_rec.drop(['status'], axis=1)
movie_df_rec['decade'] = movie_df_rec['release_date'].apply(compute_decade)

In [12]:
movie_recent.drop_duplicates(subset=['title', 'release_date'], keep='first', inplace=True)
movie_recent = movie_recent.fillna(value={'genres':'Missing'})
movie_recent = movie_recent.dropna(subset= ['runtime'])
movie_recent = movie_recent.drop(['status'], axis=1)
movie_recent['decade'] = movie_recent['release_date'].apply(compute_decade)

Enrich dataset with TMDB API

In [27]:
#movies with revenue missing from dataset, we'll use the API to capture the missing data for titles, we applied many filters to reduce the API call runtime 
movie_missing_rev = movie_df[(movie_df['budget'] >= 3000000) & (movie_df['revenue'] == 0) & (movie_df['vote_count'] > 0) & (movie_df['runtime'] >= 60)]
movie_missing_rev1 = movie_df[(movie_df['budget'] >= 6000000) & (movie_df['revenue'] == 0) & (movie_df['vote_count'] == 0) & (movie_df['runtime'] >= 60)]
movie_missing_rev = pd.concat([movie_missing_rev,movie_missing_rev1]).drop_duplicates()
movie_missing_rev = movie_missing_rev.sort_values(by= 'revenue', ascending= False)
movie_missing_rev.head()

,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations,decade
id,,,,,,,,,,,,,,,,,,,
447277,The Little Mermaid,Adventure-Family-Fantasy-Romance,en,The youngest of King Triton’s daughters and th...,2118.742,Walt Disney Pictures-Lucamar Productions-Marc ...,2023-05-18,250000000.0,0.0,135.0,"Watch and you'll see, some day I'll be, part o...",5.957,220.0,Halle Bailey-Jonah Hauer-King-Daveed Diggs-Awk...,musical-mermaid-based on fairy tale-live actio...,/ym1dxyOk4jFcSl4Q2zmRrA5BEEN.jpg,/hJoMSAltRx5xvlAXvKyDdugjucJ.jpg,420808-798286-447365-493529-502356-594767-6401...,2020's
186869,The Vagrant,Comedy-Horror-Thriller,en,A business man buys a house but he has a hard ...,4.319,Metro-Goldwyn-Mayer-Brooksfilms,1992-05-15,9500000.0,0.0,91.0,He's not home alone.,6.000,39.0,Bill Paxton-Michael Ironside-Marshall Bell-Mit...,detective-trailer park-office-paranoia-murder-...,/8XTaMcU4WxafaIxT6HvfYHL8KTP.jpg,/wQ6Ur8C0Ncz47DEGgRyCcOXEe7V.jpg,NaN,1990's
10256,Metamorphosis,Drama-Fantasy-Horror,en,In the Seventeenth Century while Hungary is fi...,4.334,Terra Film Group-Schmidtz Katze Filmkollektiv-...,2007-01-01,6000000.0,0.0,105.0,NaN,4.600,18.0,Christopher Lambert-Corey Sevier-Charlie Hollw...,hungary-castle-vampire-supernatural-priest-aut...,/2dO5xMivj60wP2rZNltXaOWy5W6.jpg,/y3BGYpWY8ZUv2kYHmyRhiKQAab3.jpg,NaN,2000's
44700,American Cowslip,Comedy,en,In Blythe California a small town in the remot...,4.334,Buffalo Speedway Film Company-Cowslip Film Par...,2009-07-24,3000000.0,0.0,107.0,It takes a village to raise an addict...,5.800,14.0,Ronnie Gene Blevins-Cloris Leachman-Val Kilmer...,california-garden-dark comedy-redneck-agorapho...,/xpoNuE9SB8lTp3Ol5YBsEn6BnYu.jpg,/cbfPFGAsHach0jhUVDTzUFYj1zY.jpg,NaN,2000's
34898,Heavens Fall,Crime-Drama,en,Successful New York attorney Sam Leibowitz tra...,4.333,Missing,2006-07-20,4000000.0,0.0,105.0,NaN,7.200,10.0,Timothy Hutton-David Strathairn-Anthony Mackie...,NaN,/x6t2EwJK6oaL9ZfrqdxuJFIUmvo.jpg,/8s1YuZt26RsVNJbXy9nfDBjHWto.jpg,NaN,2000's

In [28]:
movie_missing_rev.shape

(2440, 19)

In [29]:
movie_missing_rev.groupby('decade')['revenue'].value_counts()

decade  revenue
1970's  0.0          66
1980's  0.0         105
1990's  0.0         224
2000's  0.0         717
2010's  0.0        1062
2020's  0.0         266
Name: count, dtype: int64

In [30]:
# Authentification
import requests

url = "http://api.themoviedb.org/3/authentication"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzNDJlYTUzOGNjMzk4NmE0M2NhYWNjMzZmZTBmN2M0MSIsInN1YiI6IjY0ZjRiYTA0NzdkMjNiMDBlYzA1ZTIyMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.o2G6GQYKkJzjUClgPxMty2p_fYq-mN1yqUOBBjQiiVo"
}

response = requests.get(url, headers=headers)

print(response.text)

{"success":true,"status_code":1,"status_message":"Success."}

In [31]:
# let's try for the first movie missing in our dataframe
movie_id = 447277

In [32]:
#for movie in movie_missing_rev:
url = 'http://api.themoviedb.org/3/movie/'+str(movie_id)+'?language=en-US'

headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzNDJlYTUzOGNjMzk4NmE0M2NhYWNjMzZmZTBmN2M0MSIsInN1YiI6IjY0ZjRiYTA0NzdkMjNiMDBlYzA1ZTIyMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.o2G6GQYKkJzjUClgPxMty2p_fYq-mN1yqUOBBjQiiVo"
    }

response = requests.get(url, headers=headers)

print(response.text)

{"adult":false,"backdrop_path":"/7VEUOEfRzzrQfWddlIyLUKvh6Nf.jpg","belongs_to_collection":null,"budget":297000000,"genres":[{"id":12,"name":"Adventure"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":10749,"name":"Romance"}],"homepage":"https://movies.disney.com/the-little-mermaid-2023","id":447277,"imdb_id":"tt5971474","original_language":"en","original_title":"The Little Mermaid","overview":"The youngest of King Triton’s daughters, and the most defiant, Ariel longs to find out more about the world beyond the sea, and while visiting the surface, falls for the dashing Prince Eric. With mermaids forbidden to interact with humans, Ariel makes a deal with the evil sea witch, Ursula, which gives her a chance to experience life on land, but ultimately places her life – and her father’s crown – in jeopardy.","popularity":182.112,"poster_path":"/ym1dxyOk4jFcSl4Q2zmRrA5BEEN.jpg","production_companies":[{"id":2,"logo_path":"/wdrCwmRnLFJhEoH8GSfymY85KHT.png","name":"Walt Disney Pictures","origin_country":"US"},{"id":17021,"logo_path":null,"name":"Lucamar Productions","origin_country":""},{"id":2527,"logo_path":"/osO7TGmlRMistSQ5JZusPhbKUHk.png","name":"Marc Platt Productions","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United States of America"}],"release_date":"2023-05-18","revenue":569600000,"runtime":135,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Watch and you'll see, some day I'll be, part of your world!","title":"The Little Mermaid","video":false,"vote_average":6.47,"vote_count":2452}

In [33]:
movie_missing_rev.index[1]

186869

In [34]:
# for each row of our dataset we'll run a call based on the movie index to get the revenue straight from TMDB

for index, row in movie_missing_rev.iterrows():
    movie_id = index
    url = f'http://api.themoviedb.org/3/movie/{movie_id}?language=en-US'
    
    # Make the API request
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzNDJlYTUzOGNjMzk4NmE0M2NhYWNjMzZmZTBmN2M0MSIsInN1YiI6IjY0ZjRiYTA0NzdkMjNiMDBlYzA1ZTIyMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.o2G6GQYKkJzjUClgPxMty2p_fYq-mN1yqUOBBjQiiVo"
    }


    response = requests.get(url, headers=headers)
    if response.status_code  == 200:
        movie_data = response.json()
        revenue = movie_data.get('revenue')
        movie_missing_rev.at[index, 'Rev'] = revenue
    else:
        print(f"Failed to retrieve data for movie_id {movie_id}")

Failed to retrieve data for movie_id 601644
Failed to retrieve data for movie_id 801051
Failed to retrieve data for movie_id 56890
Failed to retrieve data for movie_id 901258
Failed to retrieve data for movie_id 631513
Failed to retrieve data for movie_id 940312
Failed to retrieve data for movie_id 918104

In [35]:
movie_missing_rev.head(3)

,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations,decade,Rev
id,,,,,,,,,,,,,,,,,,,,
447277,The Little Mermaid,Adventure-Family-Fantasy-Romance,en,The youngest of King Triton’s daughters and th...,2118.742,Walt Disney Pictures-Lucamar Productions-Marc ...,2023-05-18,250000000.0,0.0,135.0,"Watch and you'll see, some day I'll be, part o...",5.957,220.0,Halle Bailey-Jonah Hauer-King-Daveed Diggs-Awk...,musical-mermaid-based on fairy tale-live actio...,/ym1dxyOk4jFcSl4Q2zmRrA5BEEN.jpg,/hJoMSAltRx5xvlAXvKyDdugjucJ.jpg,420808-798286-447365-493529-502356-594767-6401...,2020's,569600000.0
186869,The Vagrant,Comedy-Horror-Thriller,en,A business man buys a house but he has a hard ...,4.319,Metro-Goldwyn-Mayer-Brooksfilms,1992-05-15,9500000.0,0.0,91.0,He's not home alone.,6.000,39.0,Bill Paxton-Michael Ironside-Marshall Bell-Mit...,detective-trailer park-office-paranoia-murder-...,/8XTaMcU4WxafaIxT6HvfYHL8KTP.jpg,/wQ6Ur8C0Ncz47DEGgRyCcOXEe7V.jpg,NaN,1990's,0.0
10256,Metamorphosis,Drama-Fantasy-Horror,en,In the Seventeenth Century while Hungary is fi...,4.334,Terra Film Group-Schmidtz Katze Filmkollektiv-...,2007-01-01,6000000.0,0.0,105.0,NaN,4.600,18.0,Christopher Lambert-Corey Sevier-Charlie Hollw...,hungary-castle-vampire-supernatural-priest-aut...,/2dO5xMivj60wP2rZNltXaOWy5W6.jpg,/y3BGYpWY8ZUv2kYHmyRhiKQAab3.jpg,NaN,2000's,0.0

In [36]:
movie_missing_rev.isnull().sum()

title                      0
genres                     0
original_language          0
overview                   8
popularity                 0
production_companies       0
release_date               0
budget                     0
revenue                    0
runtime                    0
tagline                 1031
vote_average               0
vote_count                 0
credits                   10
keywords                 632
poster_path               16
backdrop_path            230
recommendations         1258
decade                     0
Rev                        7
dtype: int64

In [37]:
#copy in case something goes wrong
movie_missing_rev_backup = movie_missing_rev.copy()

In [38]:
movie_missing_rev = movie_missing_rev.dropna(subset=['Rev'])
movie_missing_rev['revenue'] = movie_missing_rev['Rev']
movie_missing_rev =movie_missing_rev.drop(['Rev'],axis=1)

In [39]:
movie_missing_rev.head(3)

,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations,decade
id,,,,,,,,,,,,,,,,,,,
447277,The Little Mermaid,Adventure-Family-Fantasy-Romance,en,The youngest of King Triton’s daughters and th...,2118.742,Walt Disney Pictures-Lucamar Productions-Marc ...,2023-05-18,250000000.0,569600000.0,135.0,"Watch and you'll see, some day I'll be, part o...",5.957,220.0,Halle Bailey-Jonah Hauer-King-Daveed Diggs-Awk...,musical-mermaid-based on fairy tale-live actio...,/ym1dxyOk4jFcSl4Q2zmRrA5BEEN.jpg,/hJoMSAltRx5xvlAXvKyDdugjucJ.jpg,420808-798286-447365-493529-502356-594767-6401...,2020's
186869,The Vagrant,Comedy-Horror-Thriller,en,A business man buys a house but he has a hard ...,4.319,Metro-Goldwyn-Mayer-Brooksfilms,1992-05-15,9500000.0,0.0,91.0,He's not home alone.,6.000,39.0,Bill Paxton-Michael Ironside-Marshall Bell-Mit...,detective-trailer park-office-paranoia-murder-...,/8XTaMcU4WxafaIxT6HvfYHL8KTP.jpg,/wQ6Ur8C0Ncz47DEGgRyCcOXEe7V.jpg,NaN,1990's
10256,Metamorphosis,Drama-Fantasy-Horror,en,In the Seventeenth Century while Hungary is fi...,4.334,Terra Film Group-Schmidtz Katze Filmkollektiv-...,2007-01-01,6000000.0,0.0,105.0,NaN,4.600,18.0,Christopher Lambert-Corey Sevier-Charlie Hollw...,hungary-castle-vampire-supernatural-priest-aut...,/2dO5xMivj60wP2rZNltXaOWy5W6.jpg,/y3BGYpWY8ZUv2kYHmyRhiKQAab3.jpg,NaN,2000's

In [40]:
# for each row of our dataset we'll run a call based on the movie index to get the revenue straight from TMDB

for index, row in movie_missing_budget.iterrows():
    movie_id = index
    url = f'http://api.themoviedb.org/3/movie/{movie_id}?language=en-US'
    
    # Make the API request
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzNDJlYTUzOGNjMzk4NmE0M2NhYWNjMzZmZTBmN2M0MSIsInN1YiI6IjY0ZjRiYTA0NzdkMjNiMDBlYzA1ZTIyMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.o2G6GQYKkJzjUClgPxMty2p_fYq-mN1yqUOBBjQiiVo"
    }


    response = requests.get(url, headers=headers)
    if response.status_code  == 200:
        movie_data = response.json()
        budget = movie_data.get('budget')
        movie_missing_budget.at[index, 'Budget_'] = budget
    else:
        print(f"Failed to retrieve data for movie_id {movie_id}")

Failed to retrieve data for movie_id 762728
Failed to retrieve data for movie_id 952101

In [41]:
movie_missing_budget.isnull().sum()

title                     0
genres                    0
original_language         0
overview                 15
popularity                0
production_companies     67
release_date              0
budget                    0
revenue                   0
runtime                   0
tagline                 518
vote_average              0
vote_count                0
credits                   5
keywords                233
poster_path               3
backdrop_path            39
recommendations         465
decade                    0
Budget_                   2
dtype: int64

In [42]:
#backup
movie_missing_budget_bckp = movie_missing_budget.copy()

In [43]:
movie_missing_budget = movie_missing_budget.dropna(subset=['Budget_'])
movie_missing_budget['budget'] = movie_missing_budget['Budget_']
movie_missing_budget =movie_missing_budget.drop(['Budget_'],axis=1)

In [44]:
movie_df = pd.concat([movie_missing_rev,movie_df]).drop_duplicates(keep='first')
movie_df = pd.concat([movie_missing_budget,movie_df]).drop_duplicates(keep='first')

In [45]:
# removing unvalid data appearing as outliers in Power BI
movie_df = movie_df[movie_df['title'] != 'Khaltoor']
movie_df = movie_df[movie_df['title'] != 'DeAD']
movie_df = movie_df[movie_df['title'] != 'Messengers']
movie_df = movie_df[movie_df['title'] != 'Mega Man X: The Day of Sigma']
movie_df = movie_df[movie_df['title'] != 'The Canterville Ghost']

In [46]:
# Exporting clean & enriched dataset
movie_df.to_csv('Movies_clean.csv')

In [47]:
movie_missing_rev.to_csv('Movies_rev_added.csv')

In [48]:
movie_missing_budget.to_csv('Movies_Budget_added.csv')

In [13]:
movie_df_rec.to_csv('Movies_recommander.csv')

In [14]:
movie_recent.to_csv('Movies_recent.csv')